<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqYVzB35KVYRN6AxhvcvX2n8bCiRcy5tA</string>
	<key>GCM_SENDER_ID</key>
	<string>4557999336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appCommerce</string>
	<key>PROJECT_ID</key>
	<string>firebaseecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>firebaseecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4557999336:ios:d3c1e53a8362ca0fbc8d5d</string>
</dict>
</plist>